* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    line-height: 1;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* @mixin atLarge {
        cursor: none;
    } */
}

body {
    font-family: $nmr;
    font-weight: normal;
    color: $lightest;
    background: transparent;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

main {
    width: auto;
    height: auto;
}


/* .cursor {
    display: none;
    @mixin atLarge {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 0;
        border-left: 1px solid $yellow;
        background: transparent;
        z-index: 2;
    }
} */


/* span {
    display: inline-block;
    pointer-events: none;
    transition: transform 0.1s linear;
}

.cursor {
    visibility: hidden;
    @mixin atLarge {
        visibility: visible;
        pointer-events: none;
        position: fixed;
        padding: 0.3rem;
        background-color: #fff;
        border-radius: 50%;
        mix-blend-mode: difference;
        transition: transform 0.3s ease;
        transform: scale(8);
        z-index: 10;
    }
}

.hover-this {
    transition: all 0.3s ease;
}

.hover-this:hover~.cursor {
    transform: translate(-50%, -50%) scale(16);
} */

.hidden {
    visibility: hidden;
}

.wrapper {
    position: absolute;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    display: block;
}

#container {
    margin: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background {
    background: $darkest;
    margin: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}


/* hide scrollbar but allow scrolling */

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}