/* FONTS */

$nmr: "Neue Montreal Regular";
$nmi: "Neue Montreal Italic";
$nmb: "Neue Montreal Bold";
$nml: "Neue Montreal Light";
$nmli: "Neue Montreal Light Italic";
$ir: "Incolnsolata";
$ise: "Inconsolata SemiExpanded";

/* COLORS */

$white: #fff;
$black: #000;
$red: #FF3100;
$active: #801a00;
$yellow: #FEF600;
$blue: #1f40d3;
$lightest: #E3E5E8;
$light: #ABAFB8;
$dark: #525661;
$darkest: #17191C;

/* SIZES */

$huge: clamp(3.2rem, -0.675rem + 12.333333vw, 24rem);
$big: clamp(3.2rem, -0.875rem + 8.333333vw, 7.2rem);
$mid: clamp(1.4rem, -0.975rem + 8.333333vw, 3.2rem);
$text: clamp(1.2rem, -0.875rem + 8.333333vw, 2rem);
$small: clamp(1rem, -0.875rem + 8.333333vw, 1.2rem);
$tiny: clamp(.8rem, -0.875rem + 8.333333vw, 1rem);
$svg: clamp(4.8rem, -0.875rem + 8.333333vw, 6.4rem);

/* EASES */

$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);