.circular {
    position: absolute;
    top: 100px;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%vh;
    &__text {
        color: $red;
        font-family: 'Inconsolata', 'Courier New', Courier, monospace;
        position: absolute;
        user-select: none;
        pointer-events: none;
        animation: animate 7.5s linear infinite;
        & span {
            position: absolute;
            top: -100px;
            text-transform: uppercase;
            display: inline-block;
            transform-origin: 0 100px;
        }
    }
}

@keyframes animate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}