.contact {
    width: 100%;
    word-wrap: break-all;
    padding: 2.4rem;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @mixin atSmall {
        /* width: 80%; */
        padding: 4.8rem;
        /* height: 90vh; */
        /* margin-right: 4.8rem;
        margin-bottom: 4.8rem; */
        /* justify-content: flex-end; */
    }
    @mixin atMedium {
        height: auto;
    }
    @mixin atLarge {
        height: 100vh;
        margin-top: 0;
    }
    &__text {
        font-family: 'Inconsolata', 'Courier New', Courier, monospace;
        margin: 0;
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;
        font-size: $mid;
        text-transform: uppercase;
        color: $lightest;
        line-height: 1.5;
        @mixin atSmall {
            font-family: 'Inconsolata SemiExpanded', 'Courier New', Courier, monospace;
            line-height: 1;
        }
    }
    &__social__row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }
    &__social__col {
        padding: 2.4rem;
    }
}

#scroll-down,
#scroll-top {
    display: none;
    @mixin atLarge {
        display: block;
        padding-bottom: 0.8rem;
    }
}

#scroll-down {
    padding-top: 0;
}

section#footer {
    height: auto;
    border-top: 1px solid $lightest;
    padding: 2.4rem;
}