.contact {
    width: 100vw;
    word-wrap: break-all;
    padding-left: 2.4rem;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @mixin atSmall {
        width: 80%;
        padding-left: 4.8rem;
        height: 90vh;
        margin-right: 4.8rem;
        margin-bottom: 4.8rem;
        justify-content: flex-end;
    }
    @mixin atMedium {
        height: auto;
        margin-top: 15%;
    }
    @mixin atLarge {
        height: 100vh;
        margin-top: 0;
    }
    &__text {
        margin: 0;
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;
        font-size: $mid;
        font-family: $nmr;
        text-transform: uppercase;
        color: $darkest;
        line-height: 1.5;
        @mixin atSmall {
            line-height: 1;
        }
        /* &:after {
            background: $dark;
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: transform 0.7s;
            width: 100%;
            transform: scaleX(0);
            transform-origin: right center;
        }
        &:hover {
            background: $yellow;
            &:after {
                transform: scaleX(1);
                transform-origin: left center;
            }
        } */
    }
    &__social__row {
        display: flex;
        flex-direction: row;
        /* width: 85%; */
        justify-content: flex-start;
        align-items: flex-end;
    }
}

#scroll-down,
#scroll-top {
    display: none;
    @mixin atLarge {
        display: block;
    }
}

section#footer {
    height: auto;
}