.header {
    display: flex;
    padding: 2.4rem;
    flex-direction: column;
    align-items: flex-start;
    background: $darkest;
    width: 100%;
    border-bottom: 1px solid $lightest;
    @mixin atSmall {
        padding: 2.4rem auto;
        /* z-index: 1; */
        /* position: absolute;
        top: 0;
        left: 0; */
        /* padding-left: 4.8rem; */
        /* justify-content: center; */
    }
    @mixin atMedium {
        /* padding: 0; */
        /* padding-left: 4.8rem; */
        /* padding-bottom: 1.2rem; */
    }
    @mixin atLarge {
        align-items: center;
        padding-top: 1.2rem;
        /* padding-left: 4.8rem; */
        padding-bottom: 2.4rem;
    }
    & h2 {
        @mixin atSmall {
            color: $light;
            /* -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px; */
        }
        @mixin atMedium {
            font-size: $mid;
        }
        @mixin atLarge {
            font-size: $big;
        }
    }
    &__mobile {
        background: $darkest;
        color: $lightest;
        display: block;
        padding: 2.4rem;
        @mixin atSmall {
            display: none;
        }
    }
    &__title {
        position: relative;
        margin: 0;
        margin-bottom: 2.4rem;
        font-size: 6rem;
        @mixin atSmall {
            font-size: $huge;
            &:after {
                background: $dark;
                bottom: 0;
                content: '';
                height: 1px;
                left: 0;
                position: absolute;
                transition: transform 0.7s;
                width: 100%;
                transform: scaleX(0);
                transform-origin: right center;
            }
            &:hover {
                /* @mixin atLarge {
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 1px;
            } */
                &:after {
                    transform: scaleX(1);
                    transform-origin: left center;
                }
            }
        }
    }
    &__subtitle {
        line-height: 1.2;
        margin: 0;
        position: relative;
        color: $light;
        margin-bottom: 1.2rem;
        &:after {
            background: $dark;
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: transform 0.7s;
            width: 100%;
            transform: scaleX(0);
            transform-origin: right center;
        }
        &:hover:after {
            transform: scaleX(1);
            transform-origin: left center;
        }
    }
    &__motto {
        position: relative;
        color: $light;
        line-height: 1.5;
        @mxin atSmall {
            line-height: 1;
        }
        &:after {
            background: $dark;
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: transform 0.7s;
            width: 100%;
            transform: scaleX(0);
            transform-origin: right center;
        }
        &:hover&:after {
            transform: scaleX(1);
            transform-origin: left center;
        }
    }
}

.br {
    display: block;
    @mixin atSmall {
        display: none;
    }
}

.hide-on-mobile {
    display: none;
    @mixin atSmall {
        display: inline;
    }
}

sup {
    transform: rotateX(180);
}