.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $dark;
    background: $darkest;
    z-index: 2;
    &__text {
        width: auto;
        &__paragraph {
            font-size: $huge;
            font-family: $nmr;
            text-transform: uppercase;
            line-height: 1;
            &:after {
                background: $lightest;
                bottom: 30%;
                content: '';
                height: 1px;
                left: 0;
                position: absolute;
                transition: transform 0.7s;
                width: 100%;
                transform: scaleX(0);
                transform-origin: left center;
                animation-duration: 5s;
                animation-name: loading;
                animation-iteration-count: infinite;
            }
        }
    }
    &__text__paragraph__loading {
        text-transform: uppercase;
        color: $lightest;
        font-size: $huge;
        font-family: $nmr;
    }
}

@keyframes loading {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.dot {
    margin-right: -.35rem;
    animation-name: hangin;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &:first-of-type {
        margin-left: -.35rem;
        animation-delay: .33s;
    }
    &:nth-of-type(2) {
        animation-delay: .66s;
    }
    &:last-of-type {
        animation-delay: 1s;
    }
}

@keyframes hangin {
    from {
        color: $light;
    }
    to {
        color: $darkest;
    }
}