.section {
    margin: 4.8rem 0 4.8rem 0;
    display: block;
    width: 100%;
    padding: 2.4rem;
    border-bottom: 1px solid $lightest;
    @mixin atSmall {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0 auto;
        flex-direction: row-reverse;
    }
    @mixin atMedium {
        padding-top: 0;
        width: 100%;
    }
    &:nth-child(2n) {
        @mixin atSmall {
            flex-direction: row;
        }
    }
    &__img {
        width: 60%;
        margin: 2.4rem;
        @mixin atSmall {
            width: 40%;
            padding: 0;
            display: flex;
            justify-content: center;
        }
    }
    &__info {
        width: 100%;
        @mixin atSmall {
            width: 50%;
        }
        &__title {
            font-family: $nmr;
            font-size: $huge;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        &__text {
            width: 90%;
            margin-bottom: 4rem;
            list-style: none;
            padding: 2.4rem 0;
            & a {
                color: $red;
                font-family: $nmb;
                &:hover {
                    background: $red;
                    color: $white;
                }
            }
            @mixin atSmall {
                width: 80%;
            }
            &__about {
                width: 100%;
                color: $lightest;
                margin-left: 2.4rem;
            }
        }
        &__link {
            margin-top: 4.8rem;
            color: $red;
            font-size: $mid;
            font-family: $nmr;
            &:hover {
                background: $red;
                color: $white;
            }
        }
    }
    &__back {
        padding-left: 8.8rem;
    }
}

.about__text {
    margin-top: 8rem;
    width: 100%;
    line-height: 2;
}

.neon {
    animation-name: neon;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.pl48 {
    padding-left: 0;
    @mixin atMedium {
        padding-left: 5.6rem;
    }
}

.bb {
    border-bottom: 1px solid $lightest;
}


/* .first {
    min-height: 85vh;
} */

.separator {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 4.8rem;
    min-height: 4.8rem;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

@keyframes neon {
    0% {
        background: $lightest;
        color: $darkest;
    }
    50% {
        background: $red;
        color: $white;
    }
}

section#word {
    border-bottom: 1px solid $dark;
    @mixin atSmall {
        border: none;
        margin-bottom: 0;
        padding-bottom: 4.8rem;
    }
}