.studies {
    /* padding: 4.8rem;
    margin-left: 4.8rem;
    display: flex;
    flex-direction: column; */
    /* &__title {
        position: relative;
        margin-top: 4.8rem;
        margin-bottom: 2.4rem;
        @mixin atSmall {
            margin-top: 0;
            margin-bottom: 4.8rem;
        }
        &:after {
            background: $dark;
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: transform 0.7s;
            width: 100%;
            transform: scaleX(0);
            transform-origin: right center;
        }
        &:hover:after {
            transform: scaleX(1);
            transform-origin: left center;
        }
    }
    &__text {
        display: none;
        @mixin atSmall {
            line-height: 2;
            margin-right: 2.4rem;
        }
    } */
    &__list {
        margin-top: 2.4rem;
        list-style: none;
        font-family: $nmr;
        &__item {
            line-height: 1.5;
            font-size: $mid;
            &:hover {
                background: $yellow;
                color: $darkest;
            }
        }
    }
}