.studies {
    /* padding: 4.8rem;
    margin-left: 4.8rem;
    display: flex;
    flex-direction: column; */
    /* &__title {
        position: relative;
        margin-top: 4.8rem;
        margin-bottom: 2.4rem;
        @mixin atSmall {
            margin-top: 0;
            margin-bottom: 4.8rem;
        }
        &:after {
            background: $dark;
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            transition: transform 0.7s;
            width: 100%;
            transform: scaleX(0);
            transform-origin: right center;
        }
        &:hover:after {
            transform: scaleX(1);
            transform-origin: left center;
        }
    }*/
    &__text {
        /* display: none; */
        @mixin atSmall {
            margin-right: 2.4rem;
            font-size: $small;
            line-height: 2;
        }
    }
    &__list {
        margin-top: 2.4rem;
        list-style: none;
        font-family: $nmr;
        &__item {
            line-height: 1.5;
            font-size: $mid;
            /* &:hover {
                background: $yellow;
                color: $darkest;
            } */
        }
    }
}

.accordion__button {
    width: 100%;
    padding: 2.4rem 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: $darkest;
    color: $lightest;
    text-align: left;
}

.accordion__button:after {
    content: '+';
    float: right;
    padding-right: 2.4rem;
    margin-right: 2.4rem;
    @mixin atSmall {
        padding-right: 4.8rem;
        margin-right: 4.8rem;
    }
}

.accordion__button--active:after {
    content: '-';
    float: right;
    padding-right: 2.4rem;
    margin-right: 2.4rem;
    @mixin atSmall {
        padding-right: 4.8rem;
        margin-right: 4.8rem;
    }
}

.accordion__content {
    display: none;
    transform: scaleY(0);
    & p {
        width: 80%;
    }
}

.isActive {
    display: block;
    transform: scaleY(1);
}